<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ingresosEgresos">
                            <td>{{item.descripcion}}</td>
                            <td>{{item.monto| currency}}</td>
                            <td 
                            
                            ><span 
                                    [ngClass]="item.tipo === 'ingreso' ? 'badge rounded-pill badge-success shadow rounded' : 'badge rounded-pill badge-warning shadow rounded' "

                                
                            >
                                {{item.tipo === 'ingreso' ? 'Ingreso' : 'Egreso'}}
                            </span>
                                
                            </td>
                            <td><button (click)="borrar(item.uid)"  class="btn btn-danger btn-sm "><i class="fa fa-trash"></i> Delete</button></td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>